/* fonts started */
@font-face {
    font-family: 'inter';
    src: url(../Assets/fonts/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../Assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'kyiv';
    src: url(../Assets/fonts/Dmitry-Rastvortsev-KyivType/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Heavy2.otf);
}


.inter {
    font-family: 'inter';
}

.montserrat {
    font-family: 'montserrat';
}

.kyiv {
    font-family: 'kiyv';
}

/* fonts ended */

/* bg-color started */

:root {

    --bg-brown: #1e0c06;
    --bg-black: #000000;
    --bg-white: hsl(0, 0%, 96%);
    --bg-green: #C1C242;
    --bg-gray: rgb(173, 172, 173);
    --bg-yellow: #CCCD21;
    --bg-light-yellow: rgb(240, 240, 187);

}

.bg-light-yellow {
    background-color: var(--bg-light-yellow);
}

.bg-yellow {
    background-color: var(--bg-yellow);
}

.bg-green {
    background-color: var(--bg-green);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-brown {
    background-color: var(--bg-brown);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-brown {
    background-color: var(--bg-black);
}

/* bg-color ended */



/* color started */
:root {

    --color-brown: #1e0c06;
    --color-black: #000000;
    --color-white: hsl(0, 0%, 96%); 
    --color-green: #C1C242;
    --color-yellow: #CCCD21;
    --color-light-yellow: rgb(240, 240, 187);
}

.color-light-yellow {
    color: var(--color-light-yellow);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-green {
    color: var(--color-green);
}

.color-gray {
    color: var(--color-gray);
}

.color-brown {
    color: var(--color-brown);
}

.color-white {
    color: var(--color-white);
}

.color-brown {
    color: var(--color-black);
}